
  #bq {
    background-color: lightblue;
    padding: 1%;
    margin: 2%;
    position: fixed;
    z-index: 1;
  }

  .button {
    font-size: 150%;
  }

  #imageA {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 100px;
  }
  #imageB {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 100px;
  }
  /* #image1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
  }
  #image2 {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 100px;
  } */