---
---

@import "{{ site.theme }}";

#bq {
  background-color: lightblue;
  min-width: 300px;
  width: 50%;
  padding: 1%;
  margin: 1%;
  position: sticky;
  z-index: 1;
  border: solid; 
  border-radius: 20px;
  border-color: lightseagreen;
}
  
#aquaTitle {
  font-family: arial;
  font-size: 200%;
  color: lightseagreen;
}
  
#fishicon {
  width: 13%;
  border: none;
  box-shadow: none;
}
  
.button {
  font-family: arial;
  font-size: 100%;
  color: grey;
  border-radius: 5px;
  border-color: grey;
  touch-action: manipulation; //prevent double tap
}
#AquaFix {
  font-size: 80%;
  color: lightseagreen;
  border: none;
  background-color: transparent;
}
#AquaFix:hover {
  background-color: lightyellow;
}

